* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }
  
  html, body {
    height: 80vh;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.678);
    z-index:999;
    background-color:white
}

  header h1 {
    position:  relative;
    left: 40px;
    z-index: 999;
    width: 200px;
    color: rgb(38, 81, 92);
    display: flex;
    align-items: center;
}

  header h1:hover {
   cursor: pointer;
}

header nav {
    width: calc(100% - 150px); 
    display: flex;
    align-items: center;
    margin-top: 0px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 90%;
    margin-right: 20px;
    max-width: 1500px;
}


.nav {
    font-weight: bold;
    padding-bottom:10px;
    padding-top:10px;
    color: rgb(99, 59, 16);
}

.nav:hover {
    padding-bottom:7px;
    padding-top:7px;
    border-bottom: 3px solid rgb(223, 173, 121);
    border-top: 3px solid rgb(179, 143, 105);
    cursor: pointer;
}

.nav i {
    color: rgb(171, 186, 187);
}

.paint {
    z-index: 1;
    width: 80vw;
    margin: 150px 100px;
    height: calc(100% - 90px);
}

.villages{
    margin-top:30px;
    list-style: none;
}

.village-h1 {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.village {
    color:rgb(177, 154, 54);
    font-weight: bold;
}

.village p {
    color: black
}